@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

* {
    font-family: 'Pretendard Variable';
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1)
}

webview {
    width: calc(100vw - 0px);
    height: 100vh;
    display: inline-flex;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin:0;
    overflow:hidden;
}

.header {
    -webkit-app-region: drag;
    width: calc(100vw);
    position: fixed;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    /* box-shadow: 8px 4px 10px 0px rgba(0, 0, 0, 0.10); */
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #d6d6d6;
}

tab-group {
    -webkit-app-region: none;
}

.newbtn {
    cursor:pointer;
    -webkit-app-region: no-drag;
    background: none;
    border: 0;
    color: #00499d;
    background: #0000001a;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 5px;
    height: 20px;
    border: 1px solid #d6d6d6;
    position:fixed;
    top:30px;
    left:0;
    backdrop-filter: blur(10px);
    z-index: 10000;
}
button:hover, .newtabbtn img:hover {
    scale: 1.05;
}
button:active, .newtabbtn img:active {
    scale: 1.0;
}
.newtabbtn {
    cursor:pointer;
    -webkit-app-region: no-drag;
    height: 20px;
    margin: 0px;
    vertical-align: 5px;
    border: 1px solid #d6d6d6;
    padding: 0px 15px;
    border-radius: 20px;
    margin-right: 5px;
    background: #0000001a;
}
.newtabbtn.selected {
    background: #00499d;
    color: white;
    border: 0;
    padding-right: 5px;
}
.newtabbtn img {
    display: none;
    pointer-events:all;
}
.newtabbtn.selected img {
    display: inline-block;
    margin-left: 5px;
    vertical-align: -0.5px;
}
.tab {
    overflow: auto;
    -webkit-app-region: no-drag;
    white-space: nowrap;
    padding-left: 32px;
    margin-top: 30px;
}
.tab::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background: none !important;
}
.loginpage {
    background: url(./dksh.webp) no-repeat;
    height:calc(100%);
    background-size: cover;
    background-position: center;
}

.loginform {
    width: 50%;
    background: #fffa;
    backdrop-filter: blur(20px);
    text-align: center;
    padding: 20px;
    position:absolute;
    top: calc((100vh - 50%) / 2);
    left: calc((100vw - 50%) / 2);
    border-radius: 20px;
}

.loginform img {
    user-select: none;
}

.form, .form2 {
    margin-top:20px;
}
.form input {
    width: calc(40%);
    height: 25px;
    border:0;
    background:0;
    border-bottom: 2.5px solid #414041;
    font-size: 15px;
    border-radius: 2px;
    color: #414041;
}
.form input:focus {
    outline:0;
    border-bottom: 2.5px solid #02499b;
}
.form input:hover {
    scale: 1.1;
}

.form2 {
    font-size: 15px;
}
.form2 input {
    height: 20px;
    width: 20px;
    vertical-align: -5px;
    margin-right:5px;
    accent-color: #02499b;
    cursor:help;
    background:0;
    
}
.form2 label {
    cursor:help;
}
.loginerror {
    background:#f008;
    margin-top: 10px;
    padding:10px;
    width: calc(40% - 20px);
    margin-left: calc((100% - 40%) / 2);
    border-radius: 100px;
}


.loginbtn {
    width:30%;
    margin-top:20px;
    font-size:20px;
    color: #02499b;
    background:0;
    border:2px solid #02499b;
    border-radius: 100px;
    padding: 10px;
}
.loginbtn:hover {
    background: #02499b;
    scale: 1.1;
    color:#fff;
}
.loginbtn:focus {
    outline:2px solid #02499b;
}

.loginbtn:active {
    background: #02499b;
    scale: 1.0;
    color:#fff;
}

.loader {
    border: 5px solid #00000000;
    border-radius: 50%;
    border-top: 5px solid #02499b;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: calc(50% - 22.5px);
    margin-top: 5px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* @media (prefers-color-scheme: dark) {
    .header {
        background: rgba(16, 23, 32, 0.5) !important;
        border-bottom: 1px solid #54595f;
    }
} */